/* SupplierNavbar.module.css */
.supplierNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
    /* Remove default margins from the nav */
}

.navbarLeft {
    display: flex;
    align-items: center;
}

.navbarBrand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.navbarLogo {
    height: 30px;
    margin-right: 10px;
}

.navbarTitle {
    font-weight: bold;
    font-size: 1.4rem;
    /* Increased font size */
}

.navbarNav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navItem {
    margin-left: 20px;
}

.navLink {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    /* Increased font size */
}

.navLink:hover {
    background-color: #007bff;
    color: white;
}

.navbarRight {
    display: flex;
    align-items: center;
}

.navIcon {
    margin-left: 20px;
    color: #333;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}

.navIcon:hover {
    color: #007bff;
}

.icon {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.hamburger {
    /* Styles for the hamburger menu */
    display: none;
    /* Hidden by default on larger screens */
    cursor: pointer;
    margin-left: 20px;
    /* Space from other icons */
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .supplierNavbar {
        flex-direction: row;
        /* Ensure row direction */
        flex-wrap: wrap;
        /* Allow wrapping */
        align-items: center;
        justify-content: space-between;
        /* Space between logo and icons */
        padding: 0.5rem;
    }

    .navbarLeft {
        flex-basis: auto;
        /* Adjust as needed */
    }

    .navbarCenter {
        display: none;
        /* Hide navigation links on smaller screens */
        flex-basis: 100%;
        /* Take full width for navigation when visible */
        margin-top: 10px;
        /* Space from logo */
        transition: transform 0.3s ease-in-out;
        /* Add transition for smooth animation */
        transform: translateY(-100%);
        /* Initially hidden */
    }

    .navbarNav {
        flex-direction: column;
    }

    .navItem {
        margin: 5px 0;
    }

    .navbarRight {
        flex-basis: auto;
        /* Adjust as needed */
        justify-content: flex-end;
        /* Align icons to the right */
        margin-top: 0;
        /* Remove top margin */
    }

    .navIcon {
        margin: 0 10px;
    }

    .hamburger {
        display: block;
        /* Show hamburger on smaller screens */
    }
    .open { /* Class to be toggled */
        transform: translateY(0); /* Shown when open */
    }
}